html, body {
	font-family: "Open Sans", sans-serif;
	height: 100%;
	width: 100%;
	color: black;
	scroll-behavior: smooth;
}

/*Navbar*/
#nav{ background-color: rgba(255,255,255, 0.0) !important;}
.navbar{ padding: .8rem; }
.navbar-nav li{
	padding-left: 20px;
	padding-right: 20px;
	color: white;
}
.nav-link{
	font-size: 1.1em !important;
	color: white !important;
	transition: 0.3s !important;
}
.nav-link:hover{
	color: rgb(216, 216, 216) !important;
	transition: 0.3s !important;
}
.navbar-toggler{ background-color: white !important; }

.fixed-background {
	background-image: url("assets/sunset.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	position: fixed;
	z-index: -1;
}

/*General Padding*/
.padding { padding-top: 2rem; padding-bottom: 2rem; }

/*Home Page*/
.fill{ min-height: 100%; }
.display-2{
	text-align: center;
	font-family: "Archivo", sans-serif;
	font-size: 660%;
	color: white;
}
.quote{
	color: white;
	font-size: 550%;
	text-align: center;
	padding-bottom: .5em;
	font-family: "EB Garamond", serif;
}
.quote-source{ font-size: 30%; }
.caption{ padding-top: 5em; }
.social{ text-align: center; }

.social a{
  font-size: 4.5em;
	margin: 3rem;
}
.social .fa-linkedin,.social .fa-github,.social .fa-twitter{
	color: white;
	transition: 0.5s;
}
.social .fa-linkedin:hover, .social .fa-github:hover, .social .fa-twitter:hover{ font-size: 1.3em; }
.social, .continue { animation: 2s ease-out 0s 1 slideInFromBottom, fadeInAnimation ease 3s;}

/*About Page*/
/*#about{ background: rgba(255,255,255, 0.4); }*/
.about-fill{min-height:70%}
.hdr-left{ text-align: left; color:white; font-family: "Archivo", sans-serif;}
.txt-wrapper{ padding-left: 50px; padding-right: 0px; color: white;}
.twitter-timeline{ position: relative; }
.img-fluid{border-radius: 10px;}
.img-wrapper{ padding-left: 50px; padding-right: 50px; }
.tweet{
	padding-left: 50px;
	padding-right: 0px;
	text-align: center;
}

/*Work*/
#work{ background: none; }
.work-fill{ min-height: 80%; }
.work-line{ width: 100%; background-color: white !important;}
.list-group-item{
  background-color: rgba(0,0,0, 0);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: white;
  transition: 0.5s;
  padding-left: -100px;
}
.list-group-item:hover{
	background-color: rgba(0,0,0, 0);
	border-top: none;
	border-bottom: none;
	border-left: none;
  	border-right: none;
	color: white;
	font-size: 1.3rem;
	transition: 0.5s;
  }

.list-group .active{
	background-color: rgba(0,0,0, 0);
	border-top: none;
	border-bottom: none;
	border-left: none;
  	border-right: none;
	color: white;
	font-size: 1.3rem;
	transition: 0.5s;
	font-weight: bold;
}

.ul-padding{ padding-top: 1rem; padding-bottom: 2rem; padding-left: 0rem;}
#work ul { list-style-type: square; }
#nav-tabContent{ color: white; }

/*Projects*/
.card{border-radius:1.2rem; border:none; background-color: transparent;}
.card-img-top{ border-radius: 1.2rem; filter: brightness(40%); transition: 1s;}
.card-img-overlay{ text-align: center; justify-content: center; align-items: center; }
.img-darken { transition: 1s; filter: brightness(100%); }
.project-des{ color: white}
.other-list li{ display: inline; }
.other-list a{ color: white; font-weight: bold; }
.other-list{text-align: center;}

.project-des .btn-primary{
	transition: 1s;
	color: white;
	background: transparent;
	border-color: white;
	-webkit-appearance: none; 
}

.project-des .btn-primary:hover{
	transition: 1s;
	color: black;
	background: white;
	border-color: white;
}
.btn-primary:focus{ box-shadow: none; }

/*Footer*/
footer{
	background: rgba(0,0,0, 0.5);
  	color: white;
  	padding: 1.5rem;
}
#contact{
	text-align: center;
	font-size: 150%;
}

.fa-arrow-alt-circle-up{
	color: white;
	transition: 0.5s;
}
.social-footer .fa-linkedin, 
.social-footer .fa-github, 
.social-footer .fa-twitter, 
.social-footer .fa-envelope{
	color: white;
	padding-left: 10px;
	font-size: 150%;
}
.social-footer .fa-linkedin:hover{ color: #0E76A8; } 
.social-footer .fa-github:hover{ color: black; }
.social-footer .fa-twitter:hover{ color: #00ACEE; } 
.social-footer .fa-envelope:hover{ color: black; }
.fa-arrow-alt-circle-up:hover{ font-size: 130%; transition: 0.5s; }

/*Blinking Cursor*/
.cursor-done{
	font-weight: 100;
  font-size: 100%;
  color: transparent;
}
.blinking-cursor {
  font-weight: 100;
  font-size: 100%;
  color: white;
  -webkit-animation: .5s blink step-end infinite;
  -moz-animation: .5s blink step-end infinite;
  -ms-animation: .5s blink step-end infinite;
  -o-animation: .5s blink step-end infinite;
  animation: .5s blink step-end infinite;
}

@keyframes "blink" {
  from, to { color: white; }
  50% { color: transparent; }
}
@-moz-keyframes blink {
  from, to { color: white; }
  50% { color: transparent; }
}
@-webkit-keyframes "blink" {
  from, to { color: white; }
  50% { color: transparent; }
}
@-ms-keyframes "blink" {
  from, to { color: white; }
  50% { color: transparent; }
}
@-o-keyframes "blink" {
  from, to { color: white; }
  50% { color: transparent; }
}

@keyframes slideInFromBottom {
	0% { transform: translateY(100%); }
	100% { transform: translateY(0); }
}

@keyframes fadeInAnimation { 
	0% { opacity: 0; } 
	100% { opacity: 1; } 
}

/*Screen Size Scaling*/

@media (max-width: 2000px) {

	#blackbox{margin-top: 10%;}
	#bsa{margin-top: 10%;}

	.box{width:25px;height: 25px;}
	.backspace{width:46px;height: 25px;}
	.tab{width:36px;height: 25px;}
	.entershift{width:55px;height: 25px;}
	.caps{width:43px;height: 25px;}
	.shift{width:70px;height: 25px;}
	.btnlong{width:35px;height: 25px;}
	.space{width:135px;height: 25px;}

}

@media (max-width: 1660px) {

	#blackbox{margin-top: 0%;}
	#bsa{margin-top: 0%;}

	.tab-content{font-size: 90%;}
	.txt-wrapper{ font-size: 90%; }
	.box{width:18px;height: 18px;}
	.backspace{width:38px;height: 18px;}
	.tab{width:28px;height: 18px;}
	.entershift{width:42px;height: 18px;}
	.caps{width:33px;height: 18px;}
	.shift{width:52px;height: 18px;}
	.btnlong{width:25px;height: 18px;}
	.space{width:103px;height: 18px;}

	.project-des{ font-size: 90%; }
	.list-group-item{font-size: 0.9rem;}
	.list-group-item:hover{font-size: 1rem;}
	.list-group .active{font-size: 1rem;}

}

@media (max-width: 1200px) { /*Large*/

	.txt-wrapper{ font-size: 95%; }
	#card-3{ padding-top: 1.5rem; }
	#bsa, #blackbox{ margin-top: 10%; }
	figure { height: 10%; }
	.img-wrapper{ padding-top: 80px; padding-left: 10px; padding-right: 10px}
	.tweet { padding-top: 50px; }
	.txt-wrapper{ font-size: 90%; }
	.box{width:14px;height: 14px;}
	.backspace{width:36px;height: 15px;}
	.tab{width:25px;height: 15px;}
	.entershift{width:35px;height: 15px;}
	.caps{width:30px;height: 15px;}
	.shift{width:45px;height: 15px;}
	.btnlong{width:20px;height: 15px;}
	.space{width:84px;height: 15px;}


	.list-group-item{font-size: 0.8rem;}
	.list-group-item:hover{font-size: .9rem;}
	.list-group .active{font-size: .9rem;}

}

@media (max-width: 992px) { /*Medium*/

	.quote{ font-size: 450%; }
	.display-2{ font-size: 550%; }
	.continue{ font-size: 175%; }
	.social a{ font-size: 4em; margin: 2rem; }
	.txt-wrapper{ font-size: 100%; }
	.tweet { display: none !important; }
	.txt-wrapper{ padding-right:50px; }
	.img-wrapper{
		padding-left: 275px;
		padding-right: 275px;
		padding-top:0px;
	}

	#boxes{ padding-top: 2em;}
	.list-group{ display: inline; }
	.ul-padding{ padding-top: 0rem; }
	.project-des{ font-size: 80%; }
	#projects{ padding-top:9rem; }

	.project-des{font-size: 90%;}
	.list-group-item{font-size: 1rem;}
	.list-group-item:hover{font-size: 1.2rem;}
	.list-group .active{font-size: 1.2rem;}

}

@media (max-width: 768px) { /*Small*/
	
	.carousel-caption h1{ font-size: 350%; }
	.navbar-brand{ font-size: .9em; }
	.navbar-collapse{
		background-color: rgba(0,0,0, 0.9) !important;
	  }
	.social a{ font-size: 2.5em; margin: 1.2rem; }
	.txt-wrapper .hdr-center{ font-size: 30px; }
	.txt-wrapper{ font-size: 15px; }
	.img-wrapper{
		padding-left: 150px;
		padding-right: 150px;
	}

	.project-des{font-size: 90%;}
	#contact{ font-size: 120%; }
	.other-list a{ font-size: 80%; }
	.card-img-top{ filter: brightness(100%);}
	#list-tab a{padding-top: 0rem;}

	.list-group-item{font-size: 0.8rem;}
	.list-group-item:hover{font-size: 1rem;}
	.list-group .active{font-size: 1rem;}

}

@media (max-width: 576px) { /*Extra Small*/
	
	.caption{ padding-top: 8em; }
	.quote{ font-size: 230%; }
	.display-2{ font-size: 330%; }
	.continue{ font-size: 120%; }
	.social a{ font-size: 2em; margin: .7rem; }	
	.txt-wrapper{ padding-left: 0.7em; padding-right: 0.5em; font-size: 85%;}
	.img-wrapper{
		padding-left: 80px;
		padding-right: 80px;
	}

	.tab-content{font-size: 80%;}

}

#boxes{
	width:100%;
	margin:auto;
    text-align: center;
	line-height: 100%;
	margin-top: -0.5em;
  }

  .key{
    position: relative;
    margin-left:0.5px;
    margin-right:0.5px;
    margin-top: 0.2px;
    margin-bottom: 0.2px;
	display:inline-block;
	border-radius: 3px;
  }
  .thinkey{
    position: relative;
    margin-left:0.2px;
    margin-right:0.2px;
    margin-top: 0px;
    margin-bottom: 0px;
	display:inline-block;
  }

  .white{background-color:white}
  .blank{background-color:rgb(0,0,0,0)}